<!--<h1 mat-dialog-title>Un nou punct de reciclare</h1>-->
<!--<div mat-dialog-content>-->
<!--&lt;!&ndash;  <anms-tab-navigation>&ndash;&gt;-->
<!--&lt;!&ndash;    <div tab1>&ndash;&gt;-->
<!--&lt;!&ndash;      <anms-tab-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <div active>&ndash;&gt;-->
<!--&lt;!&ndash;          active&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div inactive>&ndash;&gt;-->
<!--&lt;!&ndash;          inactive&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </anms-tab-item>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div tab2>&ndash;&gt;-->
<!--&lt;!&ndash;      hello 2&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </anms-tab-navigation>&ndash;&gt;-->
<!--&lt;!&ndash;  <anms-tab-navigation>&ndash;&gt;-->
<!--&lt;!&ndash;    <div tab1>&ndash;&gt;-->
<!--&lt;!&ndash;      <anms-recycable-tab></anms-recycable-tab>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div tab2>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>Ce se afla aici?</p>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="location-container" [formGroup]="formGroup">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="location-container">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="location-option-container" >&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="location-option-icon">&ndash;&gt;-->
<!--&lt;!&ndash;              <fa-icon icon="times"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="location-option-icon">&ndash;&gt;-->
<!--&lt;!&ndash;              Container&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="radio" id="location-container" formControlName="location" value="container">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="location-shop">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="location-option-container" >&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="location-option-icon">&ndash;&gt;-->
<!--&lt;!&ndash;              <fa-icon icon="times"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="location-option-icon">&ndash;&gt;-->
<!--&lt;!&ndash;              Container&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="radio" id="location-shop" formControlName="location" value="shop">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Favorite Animal</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div tab3>&ndash;&gt;-->
<!--&lt;!&ndash;      hello 3&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </anms-tab-navigation>&ndash;&gt;-->

<!--<anms-adaptable-stepper>-->
<!--</anms-adaptable-stepper>-->

<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">Abandoneaza</button>-->
<!--  <button mat-button >Adauga</button>-->
<!--</div>-->


<anms-new-feature (noClicked)="onNoClick()"> </anms-new-feature>
