<anms-layout2>
  <div firstContent>
    <h2>Ce se poate recicla?</h2>
    <div>
      <anms-catalog-toolbar></anms-catalog-toolbar>
    </div>
    <div class="cards-container">
      <div  *ngFor="let card of displayCards" class="card-content col-12 col-sm-6 col-md-6 col-lg-4 no-padding"
           [class.ad]="card?.isAd && smallScreen" [class.no-ad]="card?.isAd && !this.smallScreen">
        <div *ngIf="!card?.isAd">
          <anms-catalog-card  [cardContent]="card?.cardContent">
          </anms-catalog-card>
        </div>
        <div *ngIf="card?.isAd && smallScreen" style="width:100%; height: 400px">
          add here
        </div>
      </div>
    </div>
  </div>

<!--  https://material.angular.io/cdk/scrolling/overview-->
<!--  https://fireship.io/lessons/infinite-virtual-scroll-angular-cdk/-->
<!--  <cdk-virtual-scroll-viewport itemSize="400" class="cards-container">-->
<!--    <div *cdkVirtualFor="let card of ds" >-->
<!--      <anms-catalog-card  class="card-content col-12 col-sm-6 col-md-6 col-lg-4 no-padding"-->
<!--                          *ngIf="card?.cardContent" [cardContent]="card?.cardContent">-->

<!--      </anms-catalog-card>-->
<!--      <div *ngIf="!card?.cardContent" style="width:100%; height: 400px">-->
<!--        add here-->
<!--      </div>-->
<!--    </div>-->
<!--  </cdk-virtual-scroll-viewport >-->

</anms-layout2>
