<div class="filter-container">
  <div class="filter-menu-bar">
    <span [class.active-menu]="menuActive==0" (click)="changeToAllMenu()">toate</span>
    <span [class.active-menu]="menuActive==1" (click)="changeToActiveMenu()">active</span>
    <a (click)="removeAllFilters()">sterge</a>
  </div>
  <div class="filter-content" *ngIf="this.menuActive == 0">
    <div class="filter-search" >
      <fa-icon icon="search" matPrefix></fa-icon>
      <input matInput placeholder="Filtreaza"/>
    </div>
    <div class="filter-content" >
      <div class="filter-options">
        <mat-checkbox *ngFor="let option of displayOptions" class="col-12 col-md-6 col-lg-4"
                      [(ngModel)]="checkStatus[option.categoryId]" (change)="changeOption(option)">
          <span> {{ option.text }}</span>
        </mat-checkbox>
      </div>
    </div>

  </div>
  <div class="filter-content" >
    <div class="filter-options" *ngIf="this.menuActive == 1">
      <div *ngFor="let option of activeOptions" class="col-12 col-md-6 col-lg-4"
           (click)="removeOption(option)" style="display:flex;">
        <span> {{ option.text }} </span><fa-icon icon="times"></fa-icon>
      </div>
    </div>
  </div>
  <div *ngIf="this.menuActive == 1 && activeOptions.length==0">
    Nici un filtru activ
  </div>
  <div class="filter-footer" (click)="closeDemanded()">
    <span>Inchide </span>
    <fa-icon icon="times"></fa-icon>
  </div>
</div>
