<div>
<h1 mat-dialog-title>Un nou punct de reciclare</h1>
<div mat-dialog-content>
  <!--  <anms-tab-navigation>-->
  <!--    <div tab1>-->
  <!--      <anms-tab-item>-->
  <!--        <div active>-->
  <!--          active-->
  <!--        </div>-->
  <!--        <div inactive>-->
  <!--          inactive-->
  <!--        </div>-->
  <!--      </anms-tab-item>-->
  <!--    </div>-->
  <!--    <div tab2>-->
  <!--      hello 2-->
  <!--    </div>-->
  <!--  </anms-tab-navigation>-->
  <!--  <anms-tab-navigation>-->
  <!--    <div tab1>-->
  <!--      <anms-recycable-tab></anms-recycable-tab>-->
  <!--    </div>-->
  <!--    <div tab2>-->
  <!--      <p>Ce se afla aici?</p>-->
  <!--      <div class="location-container" [formGroup]="formGroup">-->
  <!--        <label for="location-container">-->
  <!--          <div class="location-option-container" >-->
  <!--            <div class="location-option-icon">-->
  <!--              <fa-icon icon="times"></fa-icon>-->
  <!--            </div>-->
  <!--            <div class="location-option-icon">-->
  <!--              Container-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </label>-->
  <!--        <input type="radio" id="location-container" formControlName="location" value="container">-->
  <!--        <label for="location-shop">-->
  <!--          <div class="location-option-container" >-->
  <!--            <div class="location-option-icon">-->
  <!--              <fa-icon icon="times"></fa-icon>-->
  <!--            </div>-->
  <!--            <div class="location-option-icon">-->
  <!--              Container-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </label>-->
  <!--        <input type="radio" id="location-shop" formControlName="location" value="shop">-->
  <!--      </div>-->
  <!--      <mat-form-field>-->
  <!--        <mat-label>Favorite Animal</mat-label>-->
  <!--        <input matInput>-->
  <!--      </mat-form-field>-->
  <!--    </div>-->
  <!--    <div tab3>-->
  <!--      hello 3-->
  <!--    </div>-->
  <!--  </anms-tab-navigation>-->

  <anms-adaptable-stepper>
  </anms-adaptable-stepper>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abandoneaza</button>
  <button mat-button >Adauga</button>
</div>

</div>
