<!--https://stackoverflow.com/questions/19659726/twitter-bootstrap-hide-element-on-small-devices-->
<!--https://getbootstrap.com/docs/4.0/migration/#responsive-utilities-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-12 no-padding">
      <div class="row row-margin">
<!--        https://stackoverflow.com/questions/52638718/multiple-ng-content-->
        <ng-content select="[firstContent]"></ng-content>
      </div>
      <div class="row row-margin d-block d-md-none">
        <ng-content select="[addContent]"></ng-content>
      </div>
      <div class="row row-margin">
        <ng-content select="[secondContent]"></ng-content>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12 no-padding">
      <div class="row row-margin">
        <ng-content select="[rightSideBar]"></ng-content>
      </div>
      <div class="row row-margin d-none d-md-block no-padding">
        <ng-content select="[addSideBar]"></ng-content>
      </div>
    </div>
  </div>
</div>
